<main id="main">
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="row gx-0">

        <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <div class="content">
            <h3>Sponsorship Platform</h3>
            <h2>My personal project at the second stage of the Students Lab in iTechArt Group!!!</h2>
            <p>
              Web-application for publishing startups ideas and searching sponsorships.
            </p>
          </div>
        </div>

        <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
          <img src="/assets/theme/img/about.jpg" class="img-fluid" alt="">
        </div>

      </div>
    </div>
  </section>
</main>