<h1>Edit User</h1>

<%= simple_form_for @user do |form| %>
  Regions:
  <%# form.collection_check_boxes :region_ids, @regions, :id, :name %><br> 

  Spheres:
  <%# form.collection_check_boxes :sphere_ids, @spheres, :id, :name %><br>

  Conditions:
  <%# form.collection_check_boxes :requirements_phrase_ids, @conditions, :id, :requirement %> 

  <div>
    <%= form.input :nick, label: :nick %><br>
  </div>

  <div>
    <%= form.input :email, label: :email %><br>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>