<section id="team" class="team">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h2>My Profile</h2>
    </header>
    <div class="row gy-4">
      <div class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
        <div class="member">
          <div class="member-info">
            <h4><%= @user.nick %></h4>
            <span><%= @user.role %></span>
            <p>Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur ipsa quae aut. Ipsum exercitationem iure minima enim corporis et voluptate.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>