<h1>Projects</h1>

<ul>
  <% unless @projects.nil? %>
    <% @projects.each do |project| %>
      <li>
        <%= link_to project.title, project %>
      </li>
    <% end %>
  <% end %>
</ul>

<% if current_user.role == "businessman" %>
  <%= link_to "New project", new_project_path %>
<% end %>